#content {
  position: relative;
  height: 1000px;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
}

.mySwiperCategories .swiper-slide:nth-child(1) {
  background-color: #cc0b04;
}

.mySwiperCategories .swiper-slide:nth-child(2) {
  background: #1c3391;
}

.mySwiperCategories .swiper-slide:nth-child(3) {
  background: #f67b02;
}

.mySwiperCategories .swiper-slide:nth-child(4) {
  background: #e31f51;
}

.mySwiperCategories .swiper-slide:nth-child(5) {
  background: #57cd9e;
}

.mySwiperCategories .swiper-slide {
  position: relative;
}

.mySwiperNewest {
  overflow: hidden;
}

.mySwiperNewest .swiper-slide {
  min-width: 455px;
}
.mySwiperNewest .swiper-slide img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#new-product .card,
#popular-product .card {
  max-width: 208px;
  cursor: pointer;
}

.card-title-product {
  font-size: 16px;
}


@media (max-width: 765px) {
  .mySwiperNewest .swiper-slide {
    min-width: inherit;
  }

  .product-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .product-content .card {
    min-width: 150px !important;
    min-height: 150px !important;
  }
  #new-product,
  #popular-product {
    margin-top: 25px !important;
  }
  .mySwiperNewest .swiper-button-next,
  .mySwiperNewest .swiper-button-prev {
    display: none;
  }

  .mySwiperCategories .swiper-slide {
    width: 120px !important;
    height: 120px !important;
  }
  #new-product .card,
  #popular-product .card {
    border: none;
  }
  .product-content {
    padding-bottom: 10px;
  }
  .card {
    position: relative;
    z-index: 99 !important;
  }
  .card-body {
    padding: 0 !important;
  }
}

@media (max-width: 585px) {
  .swiper-button-next-categories,
  .swiper-button-prev-categories {
    width: 35px !important;
    height: 35px !important;
    font-size: 0.7em;
  }

  .mySwiperNewest {
    margin-top: 15px !important;
  }

  #new-product .card,
  #popular-product .card {
    max-width: 170px;
    cursor: pointer;
  }
  #new-product .card {
    border: none;
  }
  #new-product .card .card-body {
    background-color: transparent;
  }
}

